{% extends "base.html" %}

    {% block main %}
        <h1>ログイン画面</h1>
        <form action="" method="POST">
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field }}
            {{ field.errors }}
            <hr>
            {% endfor %}
            <button type="submit">ログイン</button>{% csrf_token %}
        </form>
        <p></p>
        <h3><a href="{% url 'signup' %}" class="btn btn-outline-danger btn-block">新規会員登録はこちら！</a><br></h3>
            
        
    {% endblock %}