{% extends "base.html" %}

{% block main %}
        <h1>{{user.username}}さんのマイページ</h1>
        <h2>通算自炊回数：{{user.zisui_count}}回</h2>
        
        <h2>連続自炊日数：{{user.consecutive_zisui_count}}回</p></h2>
        <p><a href = "{% url 'post' %}">自炊記録をする</a></p>

        
        <h4>プロフィール情報</h4>
        
        <p><img src="{{user.userimage.url}}" style="width:400px;"/></p>
        <p>学年：{{user.years}}</p>
        <p>一人暮らし歴{{user.living_alone}}</p>
        <p><a href = "{% url 'user-update' user.pk %}">プロフィール情報を編集をする</a></p>


        <h2>あなたが投稿した自炊記事一覧</h2>
        <table class="table">
        <thead>
                <tr><th>料理名</th>
                        <th>画像</th>
                <th>投稿者</th>
                </tr>
        </thead>
        <tbody>

        {% for post in post_list %}
               
                        <tr>
                        <td>{{ post.title }}</td>
                        <td><img src="{{post.image.url}}" style="width: 100px;"/></td>
                        <td>{{ post.author }}</td>
                        <td><a href="{% url 'mypost-detail' post.pk%}">詳細</a></td>
                        </tr>
               

        
        {% endfor %}
      </tbody>
    </table>

        

        <p><a href="{% url 'index' %}">トップページへ</a></p>
        <p><a href="{% url 'post-list' %}">記事一覧</a></p>
        <p><a href="{% url 'post' %}">投稿する</a></p>
        <p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}