{% extends "base.html" %}

{% block main %}
        <h1>{{user.username}}さんのマイページ</h1>
        <h2>プロフィール情報</h2>
        <img src="{{user.userimage.url}}" style="width:400px;"/>
        <p>学年：{{user.years}}</p>
        <p>一人暮らし歴{{user.living_alone}}</p>

        

        <p><a href="{% url 'index' %}">トップページへ</a></p>
        <p><a href="{% url 'signup' %}">新規会員登録する</a></p>
        <p><a href="{% url 'post-list' %}">記事一覧</a></p>
        <p><a href="{% url 'post' %}">投稿する</a></p>
        <p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}