{% extends "base.html" %}

{% block main %}
        <h1>{{user.username}}さんのマイページ</h1>
        <h2>あなたの自炊記録：</h2>
        <p>総自炊回数：回</p>
        <p>連続自炊回数：回</p>
        <p><a href = "">投稿なしで自炊をカウントする</a></p>


        <h4>プロフィール情報</h4>
        
        <img src="{{user.userimage.url}}" style="width:400px;"/>
        <p>学年：{{user.years}}</p>
        <p>一人暮らし歴{{user.living_alone}}</p>

        <h2>あなたが投稿した自炊記事一覧</h2>
        <table class="table">
        <thead>
                <tr><th>料理名</th>
                <th>投稿者</th>
                </tr>
        </thead>
        <tbody>
        {% for post in post_list %}
        

        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author }}</td>
            <td><a href="{% url 'post-detail' post.pk%}">詳細</a></td>
        </tr>

        
        {% endfor %}
      </tbody>
    </table>

        

        <p><a href="{% url 'index' %}">トップページへ</a></p>
        <p><a href="{% url 'signup' %}">新規会員登録する</a></p>
        <p><a href="{% url 'post-list' %}">記事一覧</a></p>
        <p><a href="{% url 'post' %}">投稿する</a></p>
        <p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}