{% extends "base.html" %}

{% block main %}
        <h1>{{user_detail.username}}さんのプロフィール</h1>

        <h2><p>通算自炊回数：{{user_detail.zisui_count}}回</p></h2>
        
        <h2><p>連続自炊日数：{{user_detail.consecutive_zisui_count}}回</p></h2>
        

        
        <h4>プロフィール情報</h4>
        
        <p><img src="{{user_detail.userimage.url}}" style="width:400px;"/></p>
        <p>学年：{{user_detail.years}}</p>
        <p>一人暮らし歴：{{user_detail.living_alone}}</p>
        <p>最後に自炊した日：{{user_detail.recent_created_at|date:"Y-m-d"}}</p>


        <h2>{{user_detail.username}}さんの自炊履歴</h2>


        <table class="table">
        <thead>
                <tr>
                        <th>料理名</th>
                        <th>自炊した日</th>
                </tr>
        </thead>
        <tbody>
                {% for post in post_record %}
                
                                <tr>
                                <td>{{ post.title }}</td>
                                
                                <td>{{ post.created|date:"Y-m-d" }}</td>
                                
                                </tr>
                

                
                {% endfor %}
        </tbody>
        </table>
        <h2>{{user_detail.username}}さんが投稿した自炊記事一覧</h2>

        <table class="table">
                <thead>
                        <tr>
                                <th>料理名</th>
                                <th>画像</th>
                                <th>投稿日</th>
                                <th>詳細</th>
                        </tr>
                </thead>

                <tbody>
                {% for post in post_list %}
                        
               
                                <tr>
                                        <td>{{ post.title }}</td>
                                        <td><img src="{{post.image.url}}" style="width: 100px;"/></td>
                                        <td>{{ post.created|date:"Y-m-d" }}</td>
                                        <td><a href="{% url 'post-detail' post.pk%}">詳細</a></td>
                                </tr>

        
                {% endfor %}
                </tbody>
        </table>
        
        

        

        <p><a class="btn btn-outline-primary btn-block" href="{% url 'index' %}">トップページへ</a></p>
        <p><a class="btn btn-danger btn-block" href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}