{% extends "base.html" %}

{% block main %}
        <h1>{{user_detail.username}}さんのプロフィール</h1>

        <h2><p>通算自炊回数：{{user_detail.zisui_count}}回</p></h2>
        
        <h2><p>連続自炊日数：{{user_detail.consecutive_zisui_count}}回</p></h2>
        <p><a href = "{% url 'post' %}">自炊記録をする</a></p>

        
        <h4>プロフィール情報</h4>
        
        <p><img src="{{user_detail.userimage.url}}" style="width:400px;"/></p>
        <p>学年：{{user_detail.years}}</p>
        <p>一人暮らし歴{{user_detail.living_alone}}</p>

        <h2>{{user_detail.username}}さんが投稿した自炊記事一覧</h2>

        <table class="table">
                <thead>
                        <tr><th>料理名</th>
                        <th>投稿者</th>
                        </tr>
                </thead>
                <tbody>
        
                {% for post in post_list %}
                       
                                <tr>
                                <td>{{ post.title }}</td>
                                <td>{{ post.author }}</td>
                                <td><a href="{% url 'post-detail' post.pk%}">詳細</a></td>
                                </tr>
                       
        
                
                {% endfor %}
              </tbody>
            </table>
        


        

        
    

        

        <p><a href="{% url 'index' %}">トップページへ</a></p>
        <p><a href="{% url 'post-list' %}">記事一覧</a></p>
        <p><a href="{% url 'post' %}">投稿する</a></p>
        <p><a href="{% url 'logout' %}">ログアウト</a></p>

{% endblock %}