{% extends "base.html" %}

    {% block main %}
        <h1>プロフィール編集画面</h1>
    
       
        <p>プロフィール情報を編集してください</p>
        <p>
            <form action="{% url 'user-update' user.pk %}" method="POST" enctype="multipart/form-data">
                {% for field in form %}
                <label>{{ field.label }}</label>
                <p>{{field}}</p>
    
                {% endfor %}
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-primary btn-block" value="編集する">
            </form>
        </p>

        <p>メールアドレス,パスワードの変更は<a href="{% url 'password-update' user.pk%}">こちら</a></p>


    {% endblock %}