{% extends "base.html" %}

    {% block main %}
        <h1>新しい自炊記録をする</h1>
    

        
        <p>あなたが自炊した料理をみんなに共有しましょう！</p>

        <p><a href="{% url 'post-done' %}" class="btn btn-outline-primary btn-block">簡単に自炊記録</a>  (料理名を入力するだけで自炊記録を行うことができます）</p>

        <form action="{% url 'post' %}" method="POST" enctype="multipart/form-data">
            {% for field in form %}
            <label>{{ field.label }}</label>
            <p>{{field}}</p>

            {% endfor %}
            

            {% csrf_token %}
        <input type="submit" class="btn btn-outline-primary btn-block" value="投稿">
        </form>


    {% endblock %}