{% extends "base.html" %}


{% block main %}
    

    <h1>{{post_detail.title}}</h1>
        <p>画像：</p>
        <img src="{{post_detail.image.url}}" style="width:400px;"/>
        
        <p>タグ：
        {% for tags in post_detail.tag.all %}
        {{tags.name}}</p>
        {% endfor %}
        <p>投稿者：{{post_detail.author}}</p>
        
        <p>費用：{{post_detail.cost}}</p>
        <p>材料：{{post_detail.ingredients}}</p>
        <p>作り方：{{post_detail.howtocook}}</p>
        <p>コメント：{{post_detail.freetext}}</p>

        <p><a class='btn' href="{% url 'post-update' post_detail.pk %}">投稿を編集</a></p>
        <p><a class='btn' href="{% url 'post-delete' post_detail.pk %}">投稿を削除</a></p>
        <p><a  href="{% url 'post-list'%}">一覧へ戻る</a></p>
        

    
{% endblock %}